@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*, ::before, ::after{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body{
     background-image: url(bg-font.PNG);
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 100vh;
     font-family: 'Nunito', sans-serif;
     text-align: center;
}

input, button{
     font-family: 'Nunito', sans-serif;
}

.minuteur{
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
}

h1{
     font-size: 50px;
     margin-bottom: 25px;
}

input{
     padding: 10px;
     width: 180px;
     font-size: 20px;
     outline: none;
     border: 1px solid rgba(0,0,0,0.5);
     box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
     border-radius: 8px;
     margin-right: 8px;
     margin-bottom: 15px;
}
input::placeholder{
     color: gray;
     text-align: center;
     opacity: 0.8;
}
input:focus-within{
     outline: 1px solid rgba(0,0,0,0.8)
}

p{
     font-size: 25px;
}

button{
     padding: 5px 15px;
     margin: 15px 0;
     border: 1px solid rgba(0,0,0,0.5);
     border-radius: 8px;
     font-size: 21px;
     transition: transform 0.2s ease-out;
     transform: scale(1);
     cursor: pointer;
}

button:active{
     transform: scale(1.05);
}

#horloge{
     position: absolute;
     bottom: 5%;
     right: 5%;
     font-size: 25px;
}

small{
     display: block;
     color: grey;
}

.actualiser{
     margin-top: 15px;
}
